.Search form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Search form input {
    padding: 10px 50px;
    width: 100%;
    font-size: 25px;
    border: none;
}

button {
    padding: 10px 70px;
    font-size: 25px;
    background-color: rgb(230, 57, 57);
    border: none;
    color: white;
}

button:hover {
    cursor: pointer;
}